
    {{> header}}
    {{> navbar}}
    <p>Esta es mi primer sitio web con Node.js</p>
    <div class="jumbotron">
    <center>
    <table>
        <tr>
            <td><p>Esta es mi primera pagina web con node</p> </td>
            <td><p>                           :v                           </p></td>
        </tr>
    </table>
    </center>
    </div>

 {{> footer}}